# Homework 3 - Pandas

In [1]:
# Load required modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

## Pandas Introduction

## Reading File

#### 1.1) Read the CSV file called 'data3.csv' into a dataframe called df. 
#### Data description
* Data source: http://www.fao.org/nr/water/aquastat/data/query/index.html
* Data, units:
* GDP, current USD (CPI adjusted)
* NRI, mm/yr
* Population density, inhab/km^2
* Total area of the country, 1000 ha = 10km^2
* Total Population, unit 1000 inhabitants

In [2]:
# your code here

#### 1.2) Display the first 10 rows of the dataframe.

In [3]:
# your code here

#### 1.3) Display the column names.

In [4]:
# your code here

#### 1.4) Use iloc to display the first 3 rows and first 4 columns.

In [5]:
# your code here

## Data Preprocessing

#### 2.1) Find all the rows that  have 'NaN' in the 'Symbol' column. Display first 5 rows.

##### Hint : You might have to use a mask

In [6]:
# your code here

#### 2.2)  Now, we will try to get rid of the NaN valued rows and columns. First, drop the column 'Other' which only has 'NaN' values. Then drop all other rows that have any column with a value 'NaN'. Store the result in place. Then display the last 5 rows of the dataframe.

In [7]:
# your code here

#### 2.3) For our analysis we do not want all the columns in our dataframe. Lets  drop all the redundant columns/ features.   
#### **Drop columns**: **Area Id, Variable Id, Symbol**. Save the new dataframe as df1. Display the first 5 rows of the new dataframe.

In [8]:
# your code here

#### 2.4) Display all the unique values in your new dataframe for each of the columns: Area, Variable Name, Year.

In [9]:
# your code here

#### 2.5) Display some basic statistical details like percentile, mean, std etc. of our dataframe.

In [10]:
# your code here

## Plot

#### 3.1) Plot a bar graph showing the count for each unique value in the column 'Area'. Give it a title.

In [11]:
# your code here

## Extract specific statistics from the preprocessed data:

#### 4.1)  Create a dataframe 'dftemp' to store rows where Area is 'Iceland'. Display the dataframe.

In [12]:
# your code here

#### 4.2) Print the years (with the same format as 2.5) when the National Rainfall Index (NRI) was greater than 900 and less than 950 in Iceland. Use the dataframe you created in the previous question 'dftemp'.

In [13]:
# your code here